global:
  namespace: ""
  host: elma365.ru
  edition: "standard"
  solution: "onPremise"
  env: "production"
  skipSslVerify: false
  labels: {}
  annotations: {}
  http_port: 3000
  grpc_port: 5000
  http_metrics: 3100
  replicaCount: 1
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  image:
    repository: dreg.elewise.com:5005
    pullPolicy: IfNotPresent
    pullSecret:
      - regsecret
      - yandexsecret
      - customsecret
  holdingEnabled: false
  monitoring:
    enabled: false
    namespace: ""
    provisioner: "k8s"
    dashboard:
      enabled: false
    alerts:
      enabled: false
    metrics:
      interval: 30s
  resourceLimits: false
  resourcesJobs: {}
  resources: {}
  livenessProbe:
    httpGet:
      path: /healthz
      port: http
    initialDelaySeconds: 30
    periodSeconds: 15
    timeoutSeconds: 2
    failureThreshold: 1
    successThreshold: 1
  readinessProbe:
    httpGet:
      path: /readyz
      port: http
    initialDelaySeconds: 30
    periodSeconds: 15
    timeoutSeconds: 2
    failureThreshold: 1
    successThreshold: 1
  podSecurityContext: {}
  securityContext: {}
  startupProbe: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  lifecycle: {}
images:
  service: ci-ee57ebaf
image:
  repository: {}
  pullSecret: {}
appconfig:
  httpTimeout: 1m
  syncSubscribersMinSize: 20
  mailingListExportTimeout: 10m
  deleteExpiredActivitiesThreshold: 5m
  warmUpSettingsCacheDuration: 5m
  sendMarketingCampaignInAdvanceDuration: 1h
  getMarketingCampaignStatsCacheDuration: 5m
nameOverride: crm
podSecurityContext: {}
securityContext: {}
autoscaling: {}
podAnnotations: {}
resourcesJobs: {}
resources: {}
livenessProbe: {}
readinessProbe: {}
startupProbe: {}
lifecycle: {}
annotations:
  ci.elma365.com/commit: "87e84eb8"
  ci.elma365.com/checksum: "ee57ebaf"
  ci.elma365.com/job_id: "3212856"
  ci.elma365.com/timestamp: "2025-05-06T06:33:50+00:00"
  ci.elma365.com/pipeline_id: "574585"
