global:
  namespace: ""
  host: elma365.ru
  edition: "standard"
  solution: "onPremise"
  env: "production"
  skipSslVerify: false
  labels: {}
  annotations: {}
  ingress:
    onpremiseTls:
      enabled: false
    annotations: {}
  http_port: 3000
  grpc_port: 5000
  http_metrics: 3100
  replicaCount: 1
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  backoffLimit: 5
  image:
    repository: dreg.elewise.com:5005
    pullPolicy: IfNotPresent
    pullSecret:
      - regsecret
      - yandexsecret
      - customsecret
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  holdingEnabled: false
  monitoring:
    enabled: false
    namespace: ""
    provisioner: "k8s"
    dashboard:
      enabled: false
    alerts:
      enabled: false
    metrics:
      interval: 30s
  resourceLimits: false
  resourcesJobs: {}
  resources: {}
  livenessProbe:
    httpGet:
      path: /healthz
      port: http
    initialDelaySeconds: 30
    periodSeconds: 15
    timeoutSeconds: 2
    failureThreshold: 1
    successThreshold: 1
  readinessProbe:
    httpGet:
      path: /readyz
      port: http
    initialDelaySeconds: 30
    periodSeconds: 15
    timeoutSeconds: 2
    failureThreshold: 1
    successThreshold: 1
  podSecurityContext: {}
  securityContext: {}
  startupProbe: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  lifecycle: {}
images:
  service: ci-75825a89
  setup: develop
image:
  repository: {}
  pullSecret: {}
nameOverride: intercluster
podSecurityContext: {}
securityContext: {}
podAnnotations: {}
kubeVersion: ""
autoscaling: {}
resourcesJobs: {}
resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "10Gi"
    cpu: "2000m"
livenessProbe: {}
readinessProbe: {}
startupProbe: {}
lifecycle: {}
intercluster:
  labels:
    app: intercluster
ingress:
  enabled: false
  password: ""
  annotations: {}
  gzip:
    enabled: true
    compLevel: 5
    minLength: 1024
appconfig:
  appendVahterServiceNameToCollectionPrefix: false
  allowExport: false
  allowImport: false
annotations:
  ci.elma365.com/commit: "4ee35c18"
  ci.elma365.com/checksum: "75825a89"
  ci.elma365.com/job_id: "3258493"
  ci.elma365.com/timestamp: "2025-05-22T14:23:55+04:00"
  ci.elma365.com/pipeline_id: "580822"
